@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 >DagKeys</h1>
    <p class="lead">DagKeys is a non-profit organiztion whose only motivation is help create a brighter future for the youth.</p>
    <p><a href="https://bethechangeinc.org/" uiactions="expand" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Views list of supporters</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p> @Html.ActionLink("List", "List", "Home")@*<a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">View List &raquo;</a>*@</p>
    </div>
    <div class="col-md-4">
        <h2>Read about our impact</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Read about our impact &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join us on our mission</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867"> Read about our mission &raquo;</a></p>
    </div>
</div>